[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
format = "black code"
lint = "pylint code/paillier.py code/test_paillier.py code/homomorphic_encryption_model.py code/test_homomorphic_encryption_model.py"
typecheck = "mypy code"

[packages]
numpy = "*"

[dev-packages]
pytest = "*"
black = "==20.8b1"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.9"
